<div class="table-responsive">
  <table class="table admin-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Goals</th>
        <th>Assists</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngIf="loading">
        <td colspan="4" class="text-center py-4">
          <span class="text-muted">Loading player statistics...</span>
        </td>
      </tr>


      <tr *ngIf="!loading && errorMessage">
        <td colspan="4" class="text-center text-danger py-4">
          {{ errorMessage }}
        </td>
      </tr>


      <tr *ngFor="let player of players; let i = index" >
        <td class="fw-bold identifier-cell">{{ i + 1 }}</td>
        <td class="name-cell">{{ player.playerName }}</td>
        <td class="name-cell">{{ player.goals }}</td>
        <td class="name-cell">{{ player.assists }}</td>
      </tr>

      
      <tr *ngIf="!loading && !errorMessage && players.length === 0">
        <td colspan="4" class="text-center py-4">
          <div class="text-muted">No player data available</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
