<div class="table-responsive">
  <table class="table admin-table">
    <thead>
      <tr>
        <th>IDENTIFIER</th>
        <th>NAME</th>
        <th>GOALS</th>
        <th>ASSISTS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <div *ngIf="loading">Chargement...</div>
          <div *ngIf="errorMessage">{{ errorMessage }}</div>
      </tr>
      <tr *ngFor="let player of players">
        <td class="fw-bold identifier-cell">{{ player.playerId }}</td>
        <td class="name-cell">{{ player.playerName }} </td>
        <td class="name-cell">
          {{ player.goals }}
        </td>
        <td class="name-cell">
          {{player.assists}}
        </td>

      </tr>
      <tr *ngIf="players.length === 0">
        <td colspan="5" class="text-center py-4 no-results">
          <div class="no-data-found">
            Empty data
          </div>
        </td>

      </tr>
    </tbody>
  </table>
</div>

